@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -wekbit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

section:before, section:after, div:before, div:after, aside:before, aside:after, figure:before, figure:after, address:before, address:after, ul:before, ul:after {
    clear: both;
    content: "";
    display: block;
}
span.black {
  color: #000000;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

/*
|-----------------------------------------------------------------------
| FONT STUFF
|-----------------------------------------------------------------------
*/

h1,h2,h3,h4,h5,h6,p,b,strong,i,em,u,small,h3.page-heading{
  font-family: 'Roboto Slab', serif;
}
h3.page-heading{
    font-size: 16pt;
    line-height: 1.3;
    margin: 0 auto 50px;
    padding: 0;
    color: #0d73ba;
}
h3.page-heading > a {
  color: #000000;
  font-weight: 400;
  text-decoration: underline;
}
input,textarea,address, address > h4, address > p{
  font-family: 'Roboto', sans-serif;
}
address > p {
  font-size: 9pt;
}
ul li > a{
  font-family: 'Roboto Condensed', sans-serif;
}

input, textarea {
    border: 0 none;
    color: #666666;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    height: 30px;
}

/*
|-----------------------------------------------------------------------
| CONTAINER/CONTENT STUFF
|-----------------------------------------------------------------------
*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position:relative;
}
.col-1 {
  width: 8.33333%;
}
.col-2 {
  width: 16.6667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.3333%;
}
.col-5 {
  width: 41.6667%;
}
.col-6 {
  width:50%;
}
.col-7 {
  width: 58.33333%;
}
.col-8 {
  width: 66.6667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333%;
}
.col-11 {
  width: 91.6667%;
}
.col-12 {
  width: 100%;
}
div.container {
    max-width: 1200px !important;
    min-height: 1px;
    padding: 0;
    width: 100%;
}
div.container div.inner {
  margin: 0 2%;
}
div.container div.inner div.feed {
    margin: 0 auto;
    padding: 0;
    position: relative;
}
div.container div.inner div.feed > div.feed {
  overflow:hidden;
  padding: 0.75em 0 0;
  position: relative;
}
.page-welcome{
  margin: 10px auto;
  float: none !important;
  padding-bottom:10px;
  padding-top: 50px;
}

/*
|-----------------------------------------------------------------------
| INTRO STUFF
|-----------------------------------------------------------------------
*/

section#intro div.intro div.content div.intro-div {
    border: 1px solid #FFFFFF;
    height: 190px;
    margin: 40px;
    padding: 15px;
    position: absolute;
    transform: rotate(45deg);
    width: 190px;
}
section#intro div.intro div.content div.intro-div.social {
    left: 38%;
    top: 37%;
}
section#intro div.intro div.content div.intro-div.statistics {
	padding: 40px;
    left: 58%;
    top: 27%;
}
section#intro div.intro div.content div.intro-div.email {
	padding: 50px;
    left: 18%;
    top: 60%;
}
section#intro div.intro div.content div.intro-div.responsive {

    left: 55%;
    top: 60%;
}
section#intro div.intro div.content div.intro-div.cart {
	padding: 50px;
    left: 23%;
    top: 18%;
}
section#intro div.intro div.content div.intro-div.cart:after {
    content: "";
    display: block;
    border-left: 1px solid #fff;
    position: absolute;
    height: 100px;
    left: 50%;
    right: 0px;
}
section#intro div.intro div.content div.intro-div figure {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    transform: rotate(-45deg);
}
section#intro div.intro div.content div.intro-div figure.statistics {
	background-image: url('../images/site/statistieken.png');
}
section#intro div.intro div.content div.intro-div figure.email {
	background-image: url('../images/site/email.png');
}
section#intro div.intro div.content div.intro-div figure.responsive {
	background-image: url('../images/site/responsive.png');
}
section#intro div.intro div.content div.intro-div figure.social {
	background-image: url('../images/site/social share.png');
}
section#intro div.intro div.content div.intro-div figure.cart {
	background-image: url('../images/site/shopping.png');
}



/*
|-----------------------------------------------------------------------
| NAV STUFF
|-----------------------------------------------------------------------
*/
header div#floater {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
    width:18%;
    max-width: 200px;
    min-width: 160px;
    position: fixed;
    z-index:100000;
}
header div.logo {
    background-color: #FFFFFF;
    padding: 1.5em 1.3em;
    width: 100%;
}
header div.logo img.logo {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
header nav.nav {
  background-color: #0F75BD;
  line-height: 2.13;
  padding: 1em;
  text-transform: uppercase;
  width: 100%;
}
header nav ul li:hover > a, header nav ul li.current_page_item > a, header nav ul li.current_page-parent > a, header nav ul li.current_page_ancestor > a {
    background: url("../images/site/current-menu.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #231F20;
    padding-left: 1em;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
}
header nav ul li > a {
    background: url("../images/site/menu.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    -wekbit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
}
header nav ul li > a {
    color: #FFFFFF;
}
.togglemenu {
    background-color: #0F75BD;
    margin: 0;
    padding: 0.8em;
}
.menu-up {
	background-image: url('../images/site/menu-up.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
    margin: 0 auto;
    width: 20px;
    height: 10px;
}
.menu-up.down {
    background-image: url('../images/site/menu-down.png');
    width: 20px;
    height: 10px;
}

/*
|-----------------------------------------------------------------------
| BLOG STUFF
|-----------------------------------------------------------------------
*/
div.blogroll {
  padding: 25px 0;
}
div.post{
  position: relative;
  padding:15px;
}
div.post-top,
div.post-bottom{
  background-color: #F8F8F8;
  border: 1px solid rgba(25, 25, 25, 0.1);
  border-radius: 2px;
  margin: 0.5em auto 0;
  padding: 1%;
}
div.post-top:after,
div.post-bottom:after{
  clear:both;
  content: "";
  display: block;
}
div.post > div.post-top{
  margin: 0 auto 1em;
}
div.post > div.post-info{
  width:100%;
}
div.post div.post-info > p.post-date,
div.post div.post-info > p.post-author,
div.post div.post-info p.post-date > span.date,
div.post div.post-info p.post-author > a.post-author,
div.post div.post-info p.post-categorie,
div.post div.post-info p.post-categorie > a,
div.post div.post-info p.post-tags,
div.post div.post-info p.post-tags > a{
  font-size: 11pt;
  font-weight: 300;
  margin: 0 3px 0 0;
}
a.post-author, p.post-author {
    font-size: 11pt;
}
p.post-author {
    float: left;
}
p.post-date {
    float: left;
    font-size: 11pt;
}

/* Auteur */
div.post-author {
    border-bottom: 1px solid rgba(35, 31, 32, 0.15);
    border-top: 1px solid rgba(35, 31, 32, 0.15);
    float: none;
    margin: 5px auto;
    padding: 5px 0;
}
div.post-author > div.author-details{
  text-align: center;
}
div.post-author div.author-details > figure {
  margin: 10px auto 0;
}
div.post-author div.author-details > h3 {
  margin-bottom: 0;
}
div.post-author div.author-details > div.social {

  float: left;
  margin: 10px 0 0;
  min-height: 50px;
  padding-top: 4%;
  position: relative;
  width: 100%;
}
div.post-author div.author-details div.social ul.social-icons {
  float: left;
  height: 100%;
  padding: 0;
  width: 100%;
  margin-left: 25px;
}
div.post-author div.author-details div.social ul.social-icons > li {
  float: left;
  margin: 0.1% 0;
  position: relative;
  width: 45px;
}
div.post-author div.author-details div.social ul.social-icons li > a.fb,
div.post-author div.author-details div.social ul.social-icons li > a.twt,
div.post-author div.author-details div.social ul.social-icons li > a.gplus,
div.post-author div.author-details div.social ul.social-icons li > a.lin {
    float: left;
    height: 35px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 35px;
    z-index: 10;
}
div.post-author div.author-details div.social ul.social-icons li > a.fb{
    background-image: url("../images/social/facebook.png");
}
div.post-author div.author-details div.social ul.social-icons li > a.twt{
    background-image: url("../images/social/twitter.png");
}
div.post-author div.author-details div.social ul.social-icons li > a.gplus{
    background-image: url("../images/social/gplus.png");
}
div.post-author div.author-details div.social ul.social-icons li > a.lin{
      background-image: url("../images/social/linkedin.png");
}
div.post-author div.author-details div.social ul.social-icons li a > span.social {
    background: none repeat scroll 0 0 rgba(15, 117, 189, 0.5);
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    font-family: 'Alegreya SC',Georgia,serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    height: 80px;
    left: 85%;
    line-height: 70px;
    margin-left: -53px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-indent: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    top: -40px;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
div.post-author div.author-details div.social ul.social-icons li a.gplus > span.social {
    background: none repeat scroll 0 0 rgba(40, 40, 40, 0.5);
    border-color: #45A7DD #B0D135 #F8CF14 #EF5A46;
    border-style: solid;
}
div.post-author div.author-details div.social ul.social-icons li a.twt > span.social {
    background: none repeat scroll 0 0 rgba(0, 171, 240, 0.5);
    border: 5px solid #FFFFFF;
}
div.post-author div.author-details div.social ul.social-icons li a.lin > span.social {
  background: none repeat scroll 0 0 rgba(0,102,153, 0.5);
  border: 5px solid #FFFFFF;
}
div.post-author div.author-details div.social ul.social-icons li a:hover span {
    opacity: 0.9;
    top: 60%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
div.post-author div.author-details div.social ul.social-icons li a:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
div.post-author > div.author-about{
    float: left;
    padding: 1em;
    position: relative;
    text-align: left;
}
div.post-author div.author-about > h3 {
  margin:0 0 10px;
}
div.prev, div.next {
    bottom: 30%;
    z-index: 100;
}
div.prev {
    background-image: url('../images/site/prev.png');
    left: -1.85%;
    position: absolute;
    width: 20px;
    height: 40px;
}
div.next {
	background-image: url('../images/site/next.png');
    position: absolute;
    right: -1.85%;
    width: 20px;
    height: 40px;
}
/* Blogroll */

section#blogpost div.container div.inner div.feed {
  padding: 1.5em 0;
}
.b-roll {
    left: 0;
    max-height: 500px;
    max-width: 10000px;
    overflow: hidden;
    padding-top: 15px;
    position: relative;
    width: 1000%;
}
.c-roll{
    left: 0;
    max-height: 500px;
    max-width: 10000px;
    overflow: hidden;
    padding-top: 15px;
    position: relative;
    width: 1000%;
}
.c-roll > div.blok {
    float: left;
    margin: 0 0.75em;
    max-height: 490px;
    max-width: 364px;
    min-width: 362px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
    width: 15.75%;
}
.b-roll > div.blok {

    float: left;
    margin: 0 0.75em;
    max-height: 490px;
    max-width: 364px;
    min-width: 362px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
    width: 15.75%;
}
.b-roll > div.blok:first-child {
    margin: 0 0.75em 1.5em 0.8em;
}
.b-roll > div.blogpost {
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.016);
  background-color: #FFFFFF;
  float: left;
  margin-bottom: 1.5em;
  padding: 1em;
  position: relative;
}
div.blogpost > figure {
  height: auto;
  margin: 1em 0;
  max-width: 100%;
  padding: 5px;
}
div.blogpost > figure.blogpostimg.fluid {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 175px;
    width: 100%;
}
div.blogpost > .post-body {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}
div.blogpost > div.post-top {
  padding: 1% 2%;
}
div.blogpost div.post-top > p,
div.blogpost div.post-top p > a,
div.blogpost div.post-top p > span,
div.blogpost div.post-bottom > p,
div.blogpost div.post-bottom p > a,
div.blogpost div.post-bottom p > span {
    font-size: 13px;
    margin: 0;
}
div.blogpost div.post-bottom p.post-categorie{
  float: left;
}
div.blogpost div.post-bottom p.read-more {
  float: right;
}
div.blogpost:hover {
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
}
div.blogpost:hover > a.title {
    color: #25AAE1;
    text-decoration: none;
}
div.blogpost > a.title {
    color: #000000;
    text-decoration: none;
}
div.blogpost a.title > h2 {
    margin: 0;
    font-size: 18pt;
    font-weight: 700;
    text-align: left;
    text-transform:uppercase;
}

/* Post image */

div.post img.post-image {
    border: 4px solid #FFFFFF;
    float: left;
    margin: 0 1em 0.75em 0;
    padding: 0;
    width: 50%;
}

/* Post title */
div.post h2.post-title {
    float: left;
    font-size: 22pt;
    margin: 0.5em 0;
    text-align: left;
    width: 100%;
}

/* Post body */
div.post-body > p {
    font-size: 90%;
    text-align: justify;
}
/* Post related Stuff */
div.post-related {
    margin: 15px 0;
    max-width: 260px;
    width: 100%;
    padding: 15px;
    position: relative;
    background-color: #FFFFFF;
    border-radius:4px;
    border:1px solid rgba(15,117,189,0.5);
}
div.post-related figure.post-pic {
    background-position: center center;
    background-size: cover;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
    max-height: 200px;
    max-width: 100%;
    padding: 30% 5%;
}
.post-related a > h4 {
    font-size: 100%;
}
div.post-related > p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

/*
|-----------------------------------------------------------------------
| COMMENTS STUFF
|-----------------------------------------------------------------------
*/
.nieuw-comment{
  padding:15px;
  background-color: #FAFAFA;
}

/*
|-----------------------------------------------------------------------
| CASES STUFF
|-----------------------------------------------------------------------
*/
.case-img-thumb {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 100%;
}
.case-body {
  padding: 1% 0;
}
.case-body > p {
    text-align: justify;
    width: 100%;
}
.case-body .case-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 100%;
    margin: 1% 1% 1% 0;
    max-width: 60%;
    min-height: 350px;

    width: 60%;
}
.case-body .case-about {
    background-color: #EEEEEE;
    float: left;
    margin: 1% auto;
    padding: 1%;
    width: 39%;
}
.case-body .case-about table,
.case-body .case-about table tr td > h2 {
  margin: 0;
}
.case-body .case-about table tr > td{
  min-width: 20px;
}

/* Cases overview */
.blok.case a > h2 {
  text-align: center;
}
.blok.case a > figure.case-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    background-color: #FFFFFF;
    border: 3px solid white;
    height: 100%;
    max-width: 100%;
    min-height: 230px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
.blok.case a figure.case-img > div.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 10px;
    padding: 5px;
    position: absolute;
    right: 0;
}
.blok.case a figure.case-img div.overlay > h3 {
    color: #FFFFFF;
    font-size: 1.25em;
    margin: 0;
    text-transform: uppercase;
}

div.blok.case:hover a > figure {
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transition: all 0.4s ease-in-out 0.05s;
    -o-transition: all 0.4s ease-in-out 0.05s;
    -ms-transition: all 0.4s ease-in-out 0.05s;
    -moz-transition: all 0.4s ease-in-out 0.05s;
    -webkit-transition: all 0.4s ease-in-out 0.05s;
}
div.blok.case:hover a figure > .overlay {
  background-color: rgba(0,0,0,0.4);
  right: 2px;
  transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transition: all 0.4s ease-in-out 0.05s;
  -o-transition: all 0.4s ease-in-out 0.05s;
  -ms-transition: all 0.4s ease-in-out 0.05s;
  -moz-transition: all 0.4s ease-in-out 0.05s;
  -webkit-transition: all 0.4s ease-in-out 0.05s;
}
div.blok.case:hover {
  transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
}
div.blok.case:hover a > h2{
    color: #25AAE1;
    text-decoration: none;
}
div.blok.case a > h2 {
    color: #000000;
    text-decoration: none;
}
div.blok.case:hover > a {
  text-decoration: none;
}

/*
|-----------------------------------------------------------------------
| WORKSHOP STUFF
|-----------------------------------------------------------------------
*/

/* Workshop overview */
div.blok.workshop a > h2 {
  text-align: center;
}
div.blok.workshop a > figure.workshop-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    background-color: #FFFFFF;
    border: 3px solid white;
    height: 100%;
    max-width: 100%;
    min-height: 230px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
div.blok.workshop a figure.workshop-img > .workshop-label {
    background-image: url("http://localhost/test.v1/public/images/site/untitled-4.png");
    background-repeat: no-repeat;
    float: right;
    height: 44px;
    padding: 5px 6px;
    position: relative;
    right: 10px;
    top: -3px;
    width: 30px;
}
div.blok.workshop a figure.workshop-img .workshop-label > img {
  max-width: 20px;
  max-height:20px;
}

.blok.workshop a figure.workshop-img > div.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 10px;
    padding: 5px;
    position: absolute;
    right: 0;
}
.blok.workshop a figure.workshop-img div.overlay > i {
  color:white;
}
.blok.workshop a figure.workshop-img div.overlay > h3 {
    color: #FFFFFF;
    font-size: 1.25em;
    margin: 0;
    text-transform: uppercase;
}
div.blok.workshop:hover a figure > .overlay {
  background-color: rgba(0,0,0,0.4);
  right: 2px;
  transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transition: all 0.4s ease-in-out 0.05s;
  -o-transition: all 0.4s ease-in-out 0.05s;
  -ms-transition: all 0.4s ease-in-out 0.05s;
  -moz-transition: all 0.4s ease-in-out 0.05s;
  -webkit-transition: all 0.4s ease-in-out 0.05s;
}
div.blok.workshop:hover {
  transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
}
div.blok.workshop:hover a > figure {
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transition: all 0.4s ease-in-out 0.05s;
    -o-transition: all 0.4s ease-in-out 0.05s;
    -ms-transition: all 0.4s ease-in-out 0.05s;
    -moz-transition: all 0.4s ease-in-out 0.05s;
    -webkit-transition: all 0.4s ease-in-out 0.05s;
}
div.blok.workshop:hover a > h2{
    color: #25AAE1;
    text-decoration: none;
}
div.blok.workshop a > h2 {
    color: #000000;
    text-decoration: none;
}
div.blok.workshop:hover > a {
  text-decoration: none;
}

/*
|-----------------------------------------------------------------------
| NOTIFICATION STUFF
|-----------------------------------------------------------------------
*/

#notification {
    position: absolute;
    right: 15px;
    z-index: 10;
}
.notification {
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px;
    right: 0;
    top: 0;
}
.notification-info {
    background-color: #FFFFFF;
    border-color: #BCE8F1;
    color: #31708F;
}
.notification-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.notification-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.notification-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.notification > p{
	margin: 0;
}

/*
|-----------------------------------------------------------------------
| SIDEBAR STUFF
|-----------------------------------------------------------------------
*/

#sidebar{
  background-color: #F5F5F5;
  display: block;
  overflow-x:hidden;
  overflow-y:auto;
  padding: 20px;
  z-index: 10;
  max-width: 228px;
}
.sidebar {
    border-right: 1px solid #EEEEEE;
    float:left;
}
.sidebar2{
  float:right;
  max-width: 275px;
}
.fixElementToTop{
  position:fixed;
}
.aside-block.col-2{
  float: left;
}

  /*
  |-----------------------------------------------------------------------
  | KENNISMAKEN STUFF
  |-----------------------------------------------------------------------
  */

div.gmap {
    height: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 270px;
    padding-top: 30px;
    position: relative;
}
div.gmap > iframe {
  width:100%;
  height:100%;
  top:0;
  left:0;
  position:absolute;
}
.contact-form input,
.contact-form textarea {
    box-shadow: 0 0 5px 0 rgba(50, 138, 198, 0);
    -webkit-transition: box-shadow 0.1s ease-in-out 0s;
    -moz-transition: box-shadow 0.1s ease-in-out 0s;
    -ms-transition: box-shadow 0.1s ease-in-out 0s;
    -o-transition: box-shadow 0.1s ease-in-out 0s;
    transition: box-shadow 0.1s ease-in-out 0s;
}
.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form input[type="submit"] {
    color: #777777;
    float: left;
    font-style: italic;
    height: auto;
    margin: 0.2em 0;
    padding: 0.8em;
    width: 100%;
}
.contact-form input[type="submit"] {
    background-color: #25AAE1;
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.contact-form input:focus,
.contact-form textarea:focus {
    box-shadow: 0 0 5px 0 #328AC6;
    -webkit-transition: box-shadow 0.4s ease-in-out 0s;
    -moz-transition: box-shadow 0.4s ease-in-out 0s;
    -ms-transition: box-shadow 0.4s ease-in-out 0s;
    -o-transition: box-shadow 0.4s ease-in-out 0s;
    transition: box-shadow 0.4s ease-in-out 0s;
}

/*
|-----------------------------------------------------------------------
| PROFILE STUFF
|-----------------------------------------------------------------------
*/
.profile-pic {
    background-position: center center;
    background-size: cover;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
    max-height: 200px;
    max-width: 150px;
    min-height: 150px;
    min-width: 125px;
}
.profile-pic-thumb{
  width:20px;
  height:20px;
  margin-right:5px;
  border:1px solid #231f20;
  border-radius:4px;
  background-size: cover;
  background-position: center center;
  float:left;
}












/*
|-----------------------------------------------------------------------
| HOME STUFF
|-----------------------------------------------------------------------
*/

figure.fluidbg {
    background-image: url("../images/site/home-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    max-height: 930px;
    min-height: 375px;
    min-width: 570px;
    padding-top: 66%;
}



/*
|-----------------------------------------------------------------------
| FOOTER STUFF
|-----------------------------------------------------------------------
*/

footer {
    bottom: 0;
    left: 0;
    position: fixed;
}
footer#footer{
  background-color: #231f20;
  width:100%;
  max-height:40px;
  z-index: 1000;
}
.footer-inner {
    padding: 5px;
}
.footer-info {
    display: inline-block;
    float: left;
    margin: 0;
    max-height: 30px;
    padding: 0;
}
.footer-info,
.footer-info ul li > a{
  color:white;
}
.footer-info > ul {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.footer-info ul > li{
  display: inline;
  margin-bottom: 0;
}
.footer-info ul.copy > li:after{
  content: " / ";
}
.footer-info ul > li:last-child:after{
  content: "";
}
.footer-info ul.social li a span{
  background-image: url('../images/social/social-icons.png');
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 5px 0 0;
  padding: 0;
  box-shadow: 0 0 0 0;
  border-radius:0%;
  background-color:rgba(0,0,0,0);
  border:0 none;
}
.footer-info ul.social {
    margin-left: 10px;
    max-width: 55px;
    min-width: 50px;
}
.footer-info ul.social li a span.facebook{
  background-position: -29px 0px;
}
.footer-info ul.social li a span.facebook:hover{
  background-position: -29px -23px;
  box-shadow:0 0 8px 2px rgba(14,118,188,0.9);
  background-color: rgba(14,118,188,0.5);
  border-radius:50%;
}
.footer-info ul.social li a span.twitter{
  background-position: -2px 0;
}
.footer-info ul.social li a span.twitter:hover{
  background-position: -2px -23px;
  box-shadow:0 0 8px 2px rgba(14,118,188,0.9);
  background-color: rgba(14,118,188,0.5);
  border-radius:50%;
}
.footer-brief {
    display: inline-block;
    float: right;
}
.footer-brief > form{
  margin:0;
  padding:0;
}
.footer-brief form > input[type="email"] {
  float:left;
  min-width: 190px;
  max-width: 200px;
  margin-right: 10px;
  padding:0 10px;
}
.footer-brief form > input[type="submit"] {
  float: right;
  min-width: 190px;
  max-width: 200px;
  border-radius: 0px;
  font-family: 'Roboto Slab', serif;
  padding: 5px;
}

/*
|-----------------------------------------------------------------------
| PAGE STUFF
|-----------------------------------------------------------------------
*/

figure.page-header {
    background-position: center center;
    background-size: cover;
    border: 1px solid #231f20;
    max-height: 300px;
    max-width: 1170px;
    min-height: 200px;
    padding-top:270px;
    padding-bottom:30px;
    width: 100%;
    margin-top:5px;
    background-repeat: no-repeat;
}

/*
|------------------------------------------------------------------------
*/





/*
|-----------------------------------------------------------------------
| ADMIN STUFF
|-----------------------------------------------------------------------
*/
td.body {
    max-width: 425px;
}
img.show-off {
    border: 1px solid #231F20;
    border-radius: 4px;
    max-width: 35%;
}

section#kennismaken,
section#insides,
section#ons-bureau,
section#workshops,
section#cases,
section#blogpost  {
  background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top,  #fefefe 0%, #e6e6e6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fefefe 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fefefe 0%,#e6e6e6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fefefe 0%,#e6e6e6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fefefe 0%,#e6e6e6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
  height: 100%;
  padding: 0 0 5%;
}
section#blogpost > .container {
    max-width: 1072px !important;
}
section#blogpost div.container div.inner div.feed > div.sidebar2 {
  max-width:255px !important;
}